{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="post" action="{{ path('app_forgot_password_request') }}" style="margin-top: 30%;width: 80%">

                <h2 class="text-center">Forgot Password</h2>
                <h5 class="text-center text-secondary">Enter your email and we'll send you a link to reset your password</h5>
                <label for="inputEmail">Email</label>
                <input type="email" placeholder="your mail..." name="email" class="form-control" autocomplete="email" required autofocus>

                {% if error is defined %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% elseif success is defined %}
                    <div class="alert alert-success">{{ success }}</div>
                {% endif %}

                <br>
                <button class="btn btn-block btn-primary mt-2 mb-5 float-right" type="submit">
                    Send email
                </button>
                <a href="/login" class=" mt-2 text-secondary text-center d-block mt-5">back to login</a>
            </form>
        </div>
    </div>
{% endblock %}
