{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body%}
    <style>

    </style>
    <div class="container-fluid overflow-auto">

    </div>
    <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
{% endblock %}


