<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">CoVi Analytics</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content: space-between">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#"> <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
    <div class="user-icon row mr-5">
      <div class="col-md-6 pr-0">
        <img src="https://cdn-icons-png.flaticon.com/512/219/219986.png" alt="user" width="40" height="40">
      </div>
      <div class="col-md-6 pl-0">
        <div style="width: 100px;line-height: 40px">
          <span>
            {% if data %}
              {{ data.email }}
            {% endif%}
          </span>
{#          <br><small>web developer</small>#}
        </div>
      </div>
    </div>
  </div>
</nav>