{% extends 'base.html.twig' %}
{% block title %}Dream Team{% endblock %}

{% block body%}
    <style>
        /* start background-image */
        .background-image{
            width: 97%;
            height: 300px;
            margin: auto;
            position: relative;
            background: green url("../assets/images/background-image4.jpg") no-repeat;
            background-size: 100% 100%;
        }
        .background-image-icon{
            width: 35px;
            height: 35px;
            border: 1px solid white;
            border-radius: 50%;
            float: right;
            margin: 20px;
            text-align: center;
            line-height: 35px;
            color: white;
        }
        .background-image-icon:hover {
            background-color: white;
            color: black;
            cursor: pointer;
        }
        /* end background image */
        /* start profile image */
        .profile-image{
            position: absolute;
            top: 200px;
            left: 100px;
        }
        .profile-image > image{
            position: relative;
        }
        .fa-camera:hover{
            cursor: pointer;
        }
        .profile-image:hover .upload-profile-image-btn{
            display: block;
        }
        #profile-image-label{
            text-align: center;
            display: block;
            width: 300px;
            height: 300px;
            margin: auto;
            line-height: 300px;
            border-radius: 50%;
            cursor: pointer;
            border: 1px dashed;
        }
        .upload-profile-image-btn{
            position: absolute;
            top: 40%;
            left: 40%;
            display: none;
        }
        /* end profile image */

        .content-height{
            height: 750px;
            overflow-y: scroll;
            margin-bottom: 120px;
        }
    </style>
    <div class="container-fluid overflow-auto">
        <div class="row">
            <div class="background-image">
                <form action="" method="post" enctype="multipart/form-data">
                    <label for="background-image" class="background-image-icon"><i class="fa-solid fa-pencil"></i></label>
                    <input type="file" name="background-image" id="background-image" style="display: none">
                </form>
                <div class="profile-image dropdown">
                    <img id="profile-image" src="../assets/images/user.png" alt="profile image" width="200" height="200">
                    <button type="button" class="btn btn-primary upload-profile-image-btn" data-toggle="modal" data-target="#exampleModalCenter">
                      <i class="fa-solid fa-camera"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row pt-2 bg-white">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="row pl-2">
                    <div class="col-md-8">
                        <div class="username-info">
                            <h2>{{ data.firstName }} {{ data.lastName }}</h2>
                            <p>a professional web developer</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-sm-6">
                                <strong>2541</strong>
                                <span>Followers</span>
                            </div>
                            <div class="col-sm-6">
                                <strong>2541</strong>
                                <span>Following</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row w-96 pt-3">
            <div class="col-md-2">
                <div class="bg-white p-3 content-height">
                    <h5>Saved stories</h5>
                    <hr>
                    <div>
                        <a href="#" class="saved-stories row">
                            <div class="col-sm-2 pr-0 text-right">
                                <img src="../assets/images/user.png" alt="saved-stories-icon" width="40" height="40">
                            </div>
                            <div class="col-sm-10">
                                <strong>Story name</strong>
                                <p><small>story writer name</small></p>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="#" class="saved-stories row">
                            <div class="col-sm-2 pr-0 text-right">
                                <img src="../assets/images/user.png" alt="saved-stories-icon" width="40" height="40">
                            </div>
                            <div class="col-sm-10">
                                <strong>Story name</strong>
                                <p><small>story writer name</small></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="bg-white p-3 content-height">
                    <div class="d-block">
                        <h5>Your Stories</h5>
                        <hr>
                    </div>

                    <div class="panel">
                        <div class="panel-header">
                            <h3>Story One</h3>
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam animi aperiam beatae error, eveniet fugit itaque iusto laboriosam modi mollitia nam nesciunt officiis pariatur, qui quidem repellat repellendus, voluptatum!</p>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-header">
                            <h3>Story One</h3>
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam animi aperiam beatae error, eveniet fugit itaque iusto laboriosam modi mollitia nam nesciunt officiis pariatur, qui quidem repellat repellendus, voluptatum!</p>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-header">
                            <h3>Story One</h3>
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam animi aperiam beatae error, eveniet fugit itaque iusto laboriosam modi mollitia nam nesciunt officiis pariatur, qui quidem repellat repellendus, voluptatum!</p>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-header">
                            <h3>Story One</h3>
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam animi aperiam beatae error, eveniet fugit itaque iusto laboriosam modi mollitia nam nesciunt officiis pariatur, qui quidem repellat repellendus, voluptatum!</p>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-header">
                            <h3>Story One</h3>
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam animi aperiam beatae error, eveniet fugit itaque iusto laboriosam modi mollitia nam nesciunt officiis pariatur, qui quidem repellat repellendus, voluptatum!</p>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-header">
                            <h3>Story One</h3>
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam animi aperiam beatae error, eveniet fugit itaque iusto laboriosam modi mollitia nam nesciunt officiis pariatur, qui quidem repellat repellendus, voluptatum!</p>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-header">
                            <h3>Story One</h3>
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam animi aperiam beatae error, eveniet fugit itaque iusto laboriosam modi mollitia nam nesciunt officiis pariatur, qui quidem repellat repellendus, voluptatum!</p>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-header">
                            <h3>Story One</h3>
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam animi aperiam beatae error, eveniet fugit itaque iusto laboriosam modi mollitia nam nesciunt officiis pariatur, qui quidem repellat repellendus, voluptatum!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="bg-white p-3 content-height">
                    <h5>Saved stories</h5>
                    <hr>
                    <div>
                        <a href="#" class="saved-stories row">
                            <div class="col-sm-2 pr-0 text-right">
                                <img src="../assets/images/user.png" alt="saved-stories-icon" width="40" height="40">
                            </div>
                            <div class="col-sm-10">
                                <strong>Story name</strong>
                                <p><small>story writer name</small></p>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="#" class="saved-stories row">
                            <div class="col-sm-2 pr-0 text-right">
                                <img src="../assets/images/user.png" alt="saved-stories-icon" width="40" height="40">
                            </div>
                            <div class="col-sm-10">
                                <strong>Story name</strong>
                                <p><small>story writer name</small></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


   <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <form action="{{ path('upload-file') }}" method="post" enctype="multipart/form-data">
          <div class="modal-content">
              <div class="modal-body">
                  <label for="upload-profile-image" class="d-block">
                      <img src="../assets/images/user.png" alt="" id="profile-image-label">
                  </label>
                  <input
                          type="file"
                          id="upload-profile-image"
                          onchange="previewFile('upload-profile-image', 'profile-image-label')"
                          class="form-control d-none"
                          name="file"
                  >
              </div>
              <div class="modal-footer d-block text-center">
                <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-lg btn-primary">Upload</button>
              </div>
            </div>
       </form>
  </div>
</div>
{% endblock %}